<div class="container1">
  <mat-toolbar color="primary" class="custom-toolbar">
    <div class="logo">Recipe</div>
    <span class="spacer"></span>
    <button
      mat-icon-button
      (click)="toggleSidenav(sidenav)"
      class="hamburger-button"
    >
      <div class="hamburger-icon">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [ngClass]="{
      'sidenav-open': isSidenavOpen,
      'sidenav-closed': !isSidenavOpen
    }"
  >
    <mat-sidenav
      #sidenav
      position="end"
      mode="over"
      class="sidenav"
      [ngClass]="{
        'sidenav-open': isSidenavOpen,
        'sidenav-closed': !isSidenavOpen
      }"
      [disableClose]="false"
      (backdropClick)="closeSidenav(sidenav)"
      (opened)="sidenavStateService.setSidenavState(true)"
      (closed)="sidenavStateService.setSidenavState(false)"
    >
      <mat-nav-list>
        <a
          mat-list-item
          *ngFor="let link of navLinks"
          [href]="link.path"
          [target]="link.external ? '_blank' : null"
        >
          <fa-icon [icon]="link.icon" class="nav-icon"></fa-icon>
          {{ link.label }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Your main content goes here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
