.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.example-card {
  margin: 1rem 1rem;

  max-width: 400px;
}

.example-card:not(:last-child) {
  margin-right: 2rem;
}

.example-header-image {
  overflow: hidden;
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
}

mat-card-title {
  font-family: monospace;
  font-weight: 550;
}

#RecipeTitel {
  font-size: 1.1em;
  margin: 5px 0;
  font-weight: 600;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  transition: z-index 0ms ease-in-out;
  opacity: 1; /* Start with full visibility */
}

.mat-card-actions-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s linear;
}

mat-card-actions.sidenav-open {
  z-index: 0;
}

mat-card-actions.sidenav-closed {
  z-index: 2;
}

@media (min-width: 600px) {
  .example-card {
    margin: 2rem 2rem;

    flex: 1 1 calc(50% - 2rem);
  }
}

@media (min-width: 960px) {
  .example-card {
    flex: 1 1 calc(33% - 2rem);
  }
}
