<div class="main">
    <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><img src="https://img6.arthub.ai/6545f85c-e758.webp" alt="">
    </div>
    <mat-card-title>Batman</mat-card-title>
    <mat-card-subtitle>batman&#64;69</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.thespruceeats.com/thmb/XDBL9gA6A6nYWUdsRZ3QwH084rk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/SES-chicken-biryani-recipe-7367850-hero-A-ed211926bb0e4ca1be510695c15ce111.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p id="RecipeTitel">Chiken Biryani</p>
    <p>
      Delight your taste buds with the rich and aromatic flavors of Chicken Hyderabadi Biryani. This classic dish is a harmonious blend of tender chicken, fragrant basmati rice, and a medley of spices, all layered and cooked to perfection.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

</div>
