.main {
  position: absolute;
  margin: 0;
  padding: 0;
  height: fit-content;
  width: inherit;
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5;
}
