<div class="main">
  <div class="card">
    @for (item of recipe; track $index) {
    <app-recipe-card></app-recipe-card>
    }@empty {
    <div>No Recipe Exist</div>
    }
  </div>
  <div
    class="fixed-btn"
    [ngClass]="{
      'sidenav-open': isSidenavOpen,
      'sidenav-closed': !isSidenavOpen
    }"
  >
    <button (click)="handleOpenCreateRecipeForm()" mat-fab color="primary">
      <mat-icon aria-hidden="false" fontIcon="add"> </mat-icon>
    </button>
  </div>

  <app-footer></app-footer>
</div>
