.main {
  position: absolute;
  margin: 0;
  padding: 0;
  height: fit-content;
  width: inherit;
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2;
}
.fixed-btn {
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: auto;
  height: auto;
  display: flex;
  transition: z-index 0ms ease-in-out;
}

.fixed-btn.sidenav-open {
  z-index: 0;
}

.fixed-btn.sidenav-closed {
  z-index: 5;
}

/* Media queries for responsiveness */

/* For small screens (e.g., mobile devices) */
@media (max-width: 480px) {
  .main {
    overflow-y: hidden; /* Hide vertical scrollbar on mobile */
  }
  .fixed-btn {
    bottom: 4rem;
    right: 2rem;
  }
}

/* For medium screens (e.g., tablets) */
@media (max-width: 768px) {
  .main {
    overflow-y: hidden; /* Hide vertical scrollbar on mobile */
  }
  .fixed-btn {
    bottom: 4rem;
    right: 2rem;
  }
}
