.main {
  position: absolute;
  margin: 0;
  padding: 0;
  height: fit-content;
  width: inherit;
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2;
}
.fixed-btn {
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: auto;
  height: auto;
  display: flex;
}

/* Media queries for responsiveness */

/* For small screens (e.g., mobile devices) */
@media (max-width: 480px) {
  .fixed-btn {
    bottom: 30px;
    right: 10px;
  }
}

/* For medium screens (e.g., tablets) */
@media (max-width: 768px) {
  .fixed-btn {
    bottom: 6rem;
    right: 2rem;
  }
}
